@page "/Home"
@using Data.Models;

@inject NavigationManager manager

<html>
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a class="btn btn-primary" href="/Home">Главная</a>
    @if (Statements == null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <center>
            <div style="background: green; border-radius: 8px">
                <h2>История заявок</h2>
                <InputSelect @bind-Value="Select">
                    <option value="0">Все заявки</option>
                    <option value="1">Индивидуальные</option>
                    <option value="2">Групповые</option>
                </InputSelect>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <td><h3>ID</h3></td>
                        <td><h3>ФИО</h3></td>
                        @if (Select != 1)
                        {
                            <td><h3>ID группы</h3></td>
                        }
                        <td><h3>Подразделение</h3></td>
                        <td align="center"><h3>Дата и время</h3></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statements in Statements)
                    {
                        if (Select == 0)
                        {
                            <tr>
                                @if (statements.ApplicationNumber != null)
                                {
                                    <a href="/Group/@statements.ApplicationNumber">
                                    <td>
                                        <h3>@statements.Id</h3>
                                    </td></a>
                                }
                                else
                                {
                                    <a href="/Individ/@statements.Id">
                                    <td>
                                        <h3>@statements.Id</h3>
                                    </td></a>
                                }
                                <td>
                                    <h3>@statements.FirstName @statements.Name @statements.Name</h3>
                                </td>
                                <td>
                                    @if (statements.ApplicationNumber != null)
                                    {
                                        <h3>@statements.ApplicationNumber</h3>
                                    }
                                    else
                                    {
                                        <h3>Индивидуальная</h3>
                                    }
                                </td>
                                <td>
                                    <h3>@statements.Employees.Division.Info</h3>
                                </td>
                                <td>
                                    <h3>@statements.BeginDate - @statements.EndDate</h3>
                                </td>
                            </tr>
                        }
                        if (Select == 1)
                        {
                            if (statements.ApplicationNumber == null)
                            {
                                <tr>
                                    <a href="/Individ/@statements.Id">
                                    <td>
                                        <h3>@statements.Id</h3>
                                    </td></a>
                                    <td>
                                        <h3>@statements.FirstName @statements.Name @statements.Name</h3>
                                    </td>
                                    <td>
                                        <h3>@statements.Employees.Division.Info</h3>
                                    </td>
                                    <td>
                                        <h3>@statements.BeginDate - @statements.EndDate</h3>
                                    </td>
                                </tr>
                            }
                        }
                        if (Select == 2)
                        {
                            if (statements.ApplicationNumber != null)
                            {
                                <tr>
                                    <a href="/Group/@statements.ApplicationNumber">
                                    <td>
                                        <h3>@statements.Id</h3>
                                    </td></a>
                                    <td>
                                        <h3>@statements.FirstName @statements.Name @statements.Name</h3>
                                    </td>
                                    <td>
                                        <h3>@statements.ApplicationNumber</h3>
                                    </td>
                                    <td>
                                        <h3>@statements.Employees.Division.Info</h3>
                                    </td>
                                    <td>
                                        <h3>@statements.BeginDate - @statements.EndDate</h3>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </center>
    }
</body>
</html>
@code {
    int Select = 0;
    public List<Statement> Statements = new List<Statement>();
    static HttpClient Http = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        using var response = await Http.GetAsync($"https://localhost:7244/api/Statement/GetStatement");
        if (response.IsSuccessStatusCode)
        {
            Statements = await response.Content.ReadFromJsonAsync<List<Statement>>();
        }
    }
}
